.foo-menu {
    position: absolute;
    background-color: #111111!important;
    width:100px;
    z-index: 1000 !important;
  }
  
  .menu-active .top-nav-bar{
    z-index: 80;
  }
  
  .top-nav-bar {
    position: relative;
    background-color: #008AE6;
    color: #FFF;
  }
  .am-navbar-title {
    color: #FFF!important;
  }
  .menu-mask {
    content: ' ';
    position: absolute;
    top: 45;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 79;
  }



  .tips {
    display: none;
    color: #708090;
    margin: 0 auto;
    text-align: center;
  }
  

  .overLay {
    text-align: center;
    z-index: 100;
      position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0);
    animation-name: detailMerge;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  .overLay table {
    width: 100%;
  }
  .overLay tr {
    line-height: 1.5em;
  }
  .overLay th {
    width: 40%;
  }
  .overLay td {
    width: 60%;
    text-align: center;
  }
  .overLay input, .overLay select, .overLay textarea {
    width: 200px;
  }
  .overLay button {
    padding: 3px 20px;
    background-color: #1e90ff;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin: 5px auto;
    display: inline-block;
  }
  
  /*定义关键帧 动画*/
  @keyframes detailMerge {
    from {
      background-color: rgba(255, 255, 255, 0);
    }
    to {
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
  @-webkit-keyframes detailMerge {
    from {
      background-color: rgba(255, 255, 255, 0);
    }
    to {
      background-color: rgba(255, 255, 255, 0.8);
    }	
  }